:root {
	--main-green: #4caf50;
	--dark-green: #2e7d32;
	--light-green: #81c784;
	--rich-brown: #795548;
	--dark-brown: #49330d;
	--soft-beige: #d7ccc8;
	--sky-blue: #64b5f6;
	--deep-blue: #1976d2;
	--bright-yellow: #ffeb3b;
	--soft-lavender: #ce93d8;
	--medium-gray: #9e9e9e;
	--light-gray: #e0e0e0;
}

html {
	background-color: var(--soft-beige);
}

body {
	margin: 0;
	width: 100vw;
	height: auto;
	display: grid;
	grid-template:
		"main main panel" 45vh
		"main main panel" 45vh / 1fr 1fr 0.5fr;
}

.App-header {
	height: 10vh;
}

main {
	grid-area: main;
	background-image: url(../public/Images/Field.png);
	background-size: 40px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--soft-beige);
	border-top: 2px solid var(--rich-brown);
	background-size: contain;
	/* box-shadow: inset 0px 0px 11px 0px var(--rich-brown); */
}

.drop-box {
	width: 75%;
	height: 60%;
	background-color: grey;
	border: 10px solid var(--dark-brown);
	border-radius: 8px;
	box-shadow: 4px 3px 20px 0px darkslategray;
}

.panel {
	grid-area: panel;
	background-color: var(--light-green);
	border-top: 2px solid var(--rich-brown);
	border-left: 2px solid var(--rich-brown);
}

.plant-node {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: var(--soft-lavender);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px;
	font-size: 10px;
	font-weight: bold;
	color: var(--dark-brown);
	border: 3px dashed var(--dark-brown)
}

.plant-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
