body {
	margin: 0;
	width: 100vw;
	height: auto;
	display: grid;
	grid-template:
		"main main panel" 45vh
		"main main panel" 45vh / 1fr 1fr 0.5fr;
}

.App-header {
	height: 10vh;
	width: 100%;
	border-bottom: 1px solid black;
}

main {
	grid-area: main;
	background-image: radial-gradient(black 1px, transparent 0);
	background-size: 40px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.drop-box {
	width: 300px;
	height: 300px;
	background-color: grey;
}

.panel {
	grid-area: panel;
	background-color: red;
}

.plant-node {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: aqua;
}
